/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/images/owner_pic
/public/images/profile_pick
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.well-known
/cgi-bin
/node
.htaccess
.user.ini
/backup
error_log
php.ini
.htaccess
profit_backup.zip
